//固定导航样式提取
.page-header{
    height: 50px;
    background: #FFFFFF;
    position: fixed; 
    top: 0px;
    width: 100%;
    z-index: 999;
    margin-bottom: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10), inset 0px -1px 0px 0px #E5E5E5;
    .imgbox{
        box-sizing: border-box;
        padding: 10px 20px;
        display: table;
        cursor: pointer;
        .imgboxcell{
            display: table-cell;
            width: 100%;
            vertical-align: middle;
            cursor: pointer;
            img{
                width: auto;
                height: 30px;
                max-width: 150px;
                display: block;
                cursor: pointer;
                border:0;
            }
        }
    }
    .header-links{
        .nav_router{
            width:292px;
            margin:0 auto;
            .el-menu{
                height:48px;
                border-bottom:none;
                .el-menu-item{
                    height: 48px;
                }
            }
        }
    }
    .rightitem{
        text-align: right;
        .el-dropdown{
            text-align: center;
            .userinfo-inner1{
                height:50px;
                display: inline-block;
                padding: 12px 10px;
                box-shadow: inset 1px 0px 0px 0px #E5E5E5;
                box-sizing: border-box;
                img{
                    width:26px;
                    height:26px;
                    vertical-align: middle;
                }
            }
            .userinfo-inner{
                width:50px;
                display: inline-block;
                padding:12px 0;
                box-shadow: inset 1px 0px 0px 0px #E5E5E5;
                img{
                    width:26px;
                    height:26px;
                    vertical-align: middle;
                }
            }
        }
    }
    // 登陆
    .header-inner{
        width: 1200px;
        margin: 0px auto;
        height: 50px;
        img{
            width: 95px;
            height: 30px;
            margin: 10px 0px;
            float: left;
            cursor: pointer;
        }
    }
}


//员工管理侧边栏菜单样式提取
.page-menu1{
    width: 250px;
    height: 922px;
    float: left;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 1000;
    .addsomething{
        height: 52px;
        font-size: 14px;
        color: #FFFFFF;
        background: #757D87;
        line-height: 52px;
        padding-left: 20px;
        position: relative;
        overflow: visible;
        i.add{
            position: absolute;
            top:0px;
            right:10px;
            font-size:24px;
        }
        .handlemenu{
            width: 140px;
            position: absolute;
            top: 40px;
            right: -100px;
            z-index: 2;
            .el-menu{
                width: 100%;
                .el-menu-item{
                    font-size: 14px;
                    color: #7B7D7F;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        
    }
    .selectinput{
        height: 44px;
        background: #F3F3F3;
        position: relative;
        .el-input{
            height:44px;
            .el-input__inner{
                height:100%;
                line-height: 44px;
                font-size: 14px;
                color: #A8A9AB;
                background: #F3F3F3;
                outline: none;
                border: 0px;
                box-sizing: border-box;
            }
        }
        i.search{
            position: absolute;
            top:15px;
            right:10px;
        }
    }
    .departmenulist{
        overflow: auto;
        height:744px;
        .checkedDep{
            height: 40px;
            line-height: 40px;
            color:#5a5e66;
        }
    }
    .bottombtnbox{
        height: 84px;
        text-align: center;
        position: inherit;
        bottom: 0px;
        left: 0px;
        width: 250px;
        color: #FFFFFF;
        div{
            height: 25px;
            width: 98px;
            display: inline-block;
            background: #8D9AA9;
            border: 1px solid #8D9AA9;
            border-radius: 100px;
            cursor: pointer;
            margin-top: 30px;
            margin-left: 3px;
            margin-right: 3px;
            span{
                font-size: 14px;
                letter-spacing: 0;
                margin-top: 2px;
                cursor: pointer;
            }
        }
    }
}
.el-tree-node__content{
    height:40px;
}
//员工管理主体部分公共样式提取
.center-inner{
    margin-top: 50px; 
    margin-left: 250px;
    background: #F7F8F9;
    overflow: auto;
    min-height: 920px;
    .indextitle{
        height: 145px;
        margin-bottom: 30px;
        background: #FFFFFF;
        padding-left: 30px;
        overflow: hidden;
        .indextitlebox{
            margin-top: 60px;
            .indexlefttitle{
                font-size: 20px;
                color: #7B7D7F;
                letter-spacing: 0;
            }
            .indexrighttitle{
                float: right;
                margin-right: 20px;
            }
        }
    }
    .content-wrapper {
        margin: 0px 20px;
        background: #FFFFFF;
        padding: 20px 20px 30px;
        box-shadow: 0 0 2px 0 rgba(58, 77, 98, 0.20);
    }
}


//福利管理主体部分中头部标题公共样式提取
.page-title{
    height: 76px;
    line-height:76px;
    background-color: #fff;
    padding:0 20px;
    position: relative;
    .btn{
        float: right;
        .declare{
            padding: 8px 10px;
        }
    }
    .declareInfo{
        position: absolute;
        top:65px;
        right:20px;
        z-index: 9;
        color:#333;
        width:470px;
        height:228px;
        background: #FFFFFF;
        border: 1px solid #FAFAFA;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        padding: 20px 15px;
        .declare_title{
            background: #F7F8F9;
            font-size: 16px;
            color: #3A4D62;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
        }
        .declare_center{
            font-size: 14px;
            color: #757D87;
            line-height: 22px;
            margin-top: 20px;
        }
    }
}
//福利管理主体部分中主体部分公共样式提取
.page-center{
    margin: 30px 20px;
    background: #FFFFFF;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 2px 0 rgba(58, 77, 98, 0.20);
}
//积分福利卷发放公共样式提取
.page-center{
    // padding:0;
    .layer-title{
        height: 62px;
        background: #FFFFFF;
        box-shadow: inset 0 -1px 0 0 #DDDDDD;
        .layer-tag{
            float: left;
            height: 42px;
            width: 170px;
            line-height: 42px;
            margin-top: 10px;
            cursor: pointer;
            padding-left: 30px;
            background: url(http://192.168.1.197:8082/assets/img/step_next.png);
            font-size: 14px;
            color: #3A4D62;
            letter-spacing: 0;
            margin-left:10px;
            &:nth-child(1){
                background: url(http://192.168.1.197:8082/assets/img/step_first.png);
            }
            &:nth-child(1)[name='active']{
                background: url(http://192.168.1.197:8082/assets/img/step_first_active.png);
                color:#fff;
            }
            &:nth-last-child(1){
                background: url(http://192.168.1.197:8082/assets/img/step_last.png);
            }
            &:nth-last-child(1)[name='active']{
                background: url(http://192.168.1.197:8082/assets/img/step_last_active.png);
                color:#fff;
            }
        }
        .layer-tag[name='active']{
            color: #FFF;
            background: url(http://192.168.1.197:8082/assets/img/step_next_active.png);
        }
    }
    .layer-center{
        min-height: 580px;
        padding: 10px;
        .voucherlist{
            margin-bottom: 10px;
            overflow: hidden;
            div{
                float: left;
                margin: 10px;
                width: 285px;
                background: #FFFFFF;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
                cursor: pointer;
                .imgbox{
                    display: block;
                    height: 192px;
                    width: 265px;
                    margin: 10px;
                    cursor: pointer;
                    box-shadow: none;//清除边框阴影（继承）
                    img{
                        display: block;
                        max-height: 192px;
                        max-width: 265px;
                        margin: 0px auto;
                        cursor: pointer;
                    }
                }
                .title{
                    font-size: 14px;
                    color: #333333;
                    padding:5px 0 15px 10px;
                    box-sizing: border-box;
                    cursor: pointer;
                    margin:0;
                    box-shadow: none;
                }
                .scorebox{
                    height: 42px;
                    background: #FAFAFA;
                    cursor: pointer;
                    margin:0;
                    .score{
                        float: left;
                        font-size: 14px;
                        color: #FF5656;
                        margin-top: 12px;
                        margin-left: 10px;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                    .company{
                        float: left;
                        font-size: 12px;
                        color: #AAAAAA;
                        margin-top: 16px;
                        cursor: pointer;
                    }
                    .oldscore{
                        float: right;
                        font-size: 12px;
                        color: #AAAAAA;
                        text-decoration: line-through;
                        margin-top: 16px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .layer-center4{
        min-height: 380px;
        .success{
            img{
                display: block;
                width:256px;
                margin: 128px auto 20px;
            }
            .statusname{
                text-align: center;
                font-size: 20px;
                color: #9ACC6A;
                margin-bottom: 36px;
            }
            .btnbox{
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
    .el-textarea{
        .el-textarea__inner {
            height: 150px;
        }
    }
}
 

//工具条 分页
.toolbar{
    margin-top: 10px;
    background-color: #f1f2f7;
    text-align: right;
}
//搜索条
.searchBar{
    background-color: #A4AABE;
    height: 60px;
    .el-form{
        padding-left:20px;
        .el-form-item{
            margin:10px 0;
            .el-button{
                padding:12px 20px;
            }
        }
    }
    .handleBar{
        height: 100%;
        float: right;
        line-height: 60px;
        cursor: pointer;
        color:#fff;
        margin-right: 20px;
        font-size: 14px;
        position: relative;
        .subhandle{
            position: absolute;
            left:0;
            top:60px;
            z-index: 999;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 0 #E5E5E5;
            .info{
                background: #fff;
                line-height: 26px;
                padding:15px 20px;
                font-size: 12px;
                .title{
                    font-weight: 700;
                    color:#000;
                }
                .center{
                    color: #7B7D7F;
                }
            }
        }
    }
}


// 企业相关信息 公共样式提取
.page-wrapper{
    background:#F7F8F9;
    margin-top:50px;
    .wrapper-title{
        height: 76px;
        background: #fff;
        position: relative;
        .line{
            float: left;
            margin: 30px 10px 0px 15px;
            height: 16px;
            width: 2px;
            background: #3082DF;
        }
        .title{
            float: left;
            margin: 30px 0px 0px 0px;
            font-size: 14px;
            color: #7B7D7F;
            letter-spacing: 0;
        }
        .btn{
            position: absolute;
            top:18px;
            right:180px;
        }
    }
    .wrapper-center{
        margin:30px 20px;
    }
}
.page-main{
    margin: 90px auto 30px;
    padding: 0;
    width: 70%;
    background: #FFF;
    .main-header{
        width: 100%;
        height: 70px;
        line-height: 70px;
        padding-left: 26px;
        overflow: hidden;
        box-sizing: border-box;
        .left{
            font-size: 18px;
            color: #333333;
            letter-spacing: 2px;
            font-weight: bold;
            float: left;
        }
        .right{
            font-size: 18px;
            color: #333333;
            letter-spacing: 2px;
            font-weight: bold;
            float: right;
            overflow: visible;
            padding-right: 25px;
        }
    }
    .main-center{
        height:700px;
        margin-top:40px;
        .main-left{
            padding:20px 80px 20px 20px;
            box-sizing: border-box;
            .submitBtn{
                text-align: right;
                padding-top:20px;
            }
        }
        .main-right{
            margin-top:20px;
            .help-header{
                background: #009DF6;
                border-radius: 3px;
                height: 58px;
                line-height: 58px;
                p{
                    font-size: 16px;
                    color: #FFFFFF;
                    text-align: center;
                    img{
                        width: 24px;
                        height: 24px;
                        vertical-align: -5px;
                        margin-left: 12px;
                    }
                }
            }
            .help-text{
                font-size: 14px;
                color: #757D87;
                line-height: 22px;
                margin: 28px 0 109px;
            }
            .help-img{
                img{
                    display: block;
                    width:200px;
                    height:160px;
                    margin: 0 auto;
                }
            }
        }
    }
}


//福利咨询公共样式
.consult-box{
    width: 1200px;
    margin: 50px auto 0;
    padding: 50px 0;
    overflow: hidden;
    .details-info{
        float: left;
        width: 850px;
        .main{
            margin: 0 auto;
            padding-bottom: 20px;
            .bread{
                padding-bottom: 10px;
                border-bottom: 1px solid #8d9aa9;
                font-size: 14px;
                color: #2D2E2E;
            }
        }
    }
    .details-right{
        float: right;
        padding: 20px;
        width: 260px;
        border-left: 1px solid #E5E5E5;
        .title{
            margin-bottom: 15px;
            span{
                font-size: 16px;
                color: #2D2E2E;
            }
        }
        .hot-collection{
            .hot_item{
                margin-bottom: 15px;
                .imgbox{
                    width:100%;
                    height: 160px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    img{
                        width:260px;
                        height:160px;
                    }
                }
                .item_info{
                    p{
                        font-size: 16px;
                        color: #2D2E2E;
                        margin-bottom: 10px;
                        cursor: pointer;
                    }
                    .time{
                        color: #999EA1;
                        font-size:12px;
                    }
                }
            }
        }
    }
}
.thide{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//轮播图样式
.el-carousel{
    height:100% !important;
    .el-carousel__container{
        height:100% !important;
        .el-carousel__item{
            height:100% !important;
        }
    }
}

// tag标签样式重写
.tagStyle{
    margin: 10px 0px 0px 10px;
    border-radius: 50px;
    background: #F7F8F9;
    color:#333;
    border:1px solid #F7F8F9;
    .el-tag__close{
        background: #E5E5E5;
        color:#fff;
        width:16px;
        height:16px;
        font-weight: 700;
    }
}
.authTagStyle{
    margin:0 5px 8px;
    background: #FAFAFA;
    color:#757D87;
    border:1px solid #8D9AA9;
    height:38px;
    line-height: 35px;
    .el-tag__close{
        color:#757D87;
        width:16px;
        height:16px;
        font-weight: 700;
    }
}

//去掉nav导航菜单子菜单标题的默认padding
.el-menu{
    .el-menu-item-group{
        .el-menu-item-group__title{
            padding:0;
        }
    }
}

//反馈需求请求textarea样式
.descInfo{
    .el-textarea__inner{
        height: 200px;
    }
}

//混合搜索框
.mixInput{
    width:512px;
    border: 1px solid #8D9AA9;
    .el-input__inner{
        border-radius: 0;
        border: 1px solid #fff;
    }
    .el-input-group__append{
        width: 0px !important;
        text-align: center;
        background-color:#3A4D62;
        border: 1px solid #3A4D62;
        font-size: 14px;
        color:#fff;
        border-radius: 0;
    }
}